
* {
    background-color: black;
    color:white;
}

h1,h3 {
    font-family:Cascadia Mono;
    color:rgb(228, 23, 177)
}

.header_body {
    display:block;
    border-color:white;
    border-style:dashed;
    padding:15px;
    margin:10px;
}

img {width:50%;
    height:auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
    border-style:dashed;
    padding: 40px;
    border-color: white}

h1 {
    text-align:center;
    font-weight:bold;
    font-size:48px;
    
}



li,p {
    font-family:IBM Plex Sans;
    text-align:left;
    color:white
}



.small-header{
    text-align:left;
    font-size:22px;
}