


h1,h3 {
    font-family:IBM Plex Mono;
}

h1 {
    text-align:center;
    font-weight:bold;
    font-size:48px;
    color: black;
    margin: 70px
    
}
.header_body {
    padding:15px;
    margin:10px;
    flex: 1 1 auto;
}

.description {
    color: white

}
.image_complete {
    display:flex;
    align-items:center;
    margin-left:auto; /* centers the black bloc */
    margin-right:auto;/* centers the black bloc */
    margin-bottom: 100px;
    background-color:black;
    color: red;
    border-radius: 25px;
    width: 78%;
    height: auto;
    justify-content: center;
}
.real_body{
    display:flex;
    width:1200px;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(231, 4, 4);
    margin-left:auto;
    margin-right:auto;
    font-size: 21px;
    border-radius: 25px;
    color:white
}


img {width:40%;
    height:auto;
    padding: 10px;
    margin-top: -75px;
    margin-bottom: -75px;
}


li,p {
    font-family:Georgia;
}

li {
    color:white
}